<div class="center jumbotron">
  <h1>Moja pierwsza apka</h1>

  <h2>
    Tworzona z Michael Hartl's Tutorial
    <a href="https://www.railstutorial.org/book">Link do tutorialu</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>